/vendor
/node_modules
/.env
/.idea
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store


*.log

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet

/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

/public/build
/public/hot

/storage/pail

Thumbs.db
